// Alertes
// =======

// Règles générales

.alert {
  @include border-radius($alert-border-radius);

  padding: $alert-padding;
  margin-bottom: $spacer-y;
  border: $alert-border-width solid transparent;

  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: .5em;
  }

  a {
    font-weight: $alert-link-font-weight;
  }
}

// Règles spécifiques

.alert-success {
  @include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-info {
  @include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

.alert-warning {
  @include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

.alert-danger {
  @include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}
