// Classes de listes
// ===================================================

.list-unstyled {
  @include list-unstyled;
}

// Inline turns list items into inline-block
// peut mieux faire
.list-inline {
  @include list-inline;
}

// à garder ?
.list-inline-item {
  @include list-inline-item;
}

// ça nous oblige à embarquer des variables
// de layout pour pas grand chose...
// .dl-horizontal {
//   margin-right: -$grid-gutter-width;
//   margin-left: -$grid-gutter-width;
//   @include clearfix;
// }


// Classes pour paragraphes/div
// ===================================================

// lead (chapeau)
.lead {
  font-size: $lead-font-size;
  font-weight: $lead-font-weight;
}



// Classes pour textes inline
// ===================================================

.text-nowrap {
  white-space: nowrap !important;
}

.text-truncate {
  @include text-truncate;
}

.text-muted {
  color: $text-muted;
}

// petites cap
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Classes pour l'accessibilité
// ===================================================

.sr-only {
  @include sr-only();
}

.sr-only-focusable {
  @include sr-only-focusable();
}


// Classes pour images
// ===================================================

// Responsive images (ensure images don't scale beyond their parents)
//
// This is purposefully opt-in via an explicit class rather than being the default for all `<img>`s.
// We previously tried the "images are responsive by default" approach in Bootstrap v2,
// and abandoned it in Bootstrap v3 because it breaks lots of third-party widgets (including Google Maps)
// which weren't expecting the images within themselves to be involuntarily resized.
// See also https://github.com/twbs/bootstrap/issues/18178
.img-fluid {
  @include img-fluid();
}
