// Mixins list-*
// =======================================================================

// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

// list-inline - apply on ul
@mixin list-inline {
  @include list-unstyled;
  > li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $list-inline-padding;
    }
  }
}

// list-inline-item - apply on li
@mixin list-inline-item {
  display: inline-block;
  &:not(:last-child) {
    margin-right: $list-inline-padding;
  }
}
