// Module pour responsive
//
// Inspired by // See: https://www.liquidlight.co.uk/blog/article/responsive-typography-in-scss/
// =================================================

// settings
$enable-rwd: true !default;
$typo-size-map: () !default;
$max-block-width-map: () !default;

// mixins (respecter cet ordre)
@import "mixin-rwd-typo-size";
@import "mixin-rwd-block-width";
