@mixin blockquote($font-size: ($font-size-base * 1.25), $font-family: $font-family-base, $font-style: "normal") {

  padding: ($spacer / 2) $spacer;
  margin: 0 0 $spacer-y;
  font-family: $font-family;
  font-size: $font-size;
  font-style: $font-style;
  border-left: 5px solid $blockquote-border-color;

  footer {
    display: block;
    font-size: .75em;
    line-height: $line-height;
    color: $blockquote-small-color;

    a:link,
    a:visited {
      color: $blockquote-small-color;
    }

    p {
      margin-bottom: 0;
    }

    @content;
  }

  @content;
}


// le même, avec le texte ferré à droite

@mixin blockquote-reverse {

  padding-right: $spacer;
  padding-left: 0;
  text-align: right;
  border-right: 5px solid $blockquote-border-color;
  border-left: 0;

  footer {
    &::before {
      content: "";
    }
    &::after {
      content: "\00A0 \2014"; // nbsp, em dash
    }
  }
}
