// Tags html par défaut et classes équivalentes
// ================================================


body {
  font-family: $font-family-base;
}



// Elements de type block (ordre alpha)
// ------------------------------------------------

address {
  margin-bottom: $spacer-y;;
  font-style: normal;
  line-height: inherit;
}

// ------- Headings

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom : $headings-margin-bottom;
  font-family   : $headings-font-family;
  font-weight   : $headings-font-weight;
  line-height   : $headings-line-height;
  color         : $headings-color;
}

h1,.h1 {
  font-size: $font-size-h1;
}
h2,.h2 {
  font-size: $font-size-h2;
}
h3,.h3 {
  font-size: $font-size-h3;
}
h4,.h4 {
  font-size: $font-size-h4;
}
h5,.h5 {
  font-size: $font-size-h5;
}
h6,.h6 {
  font-size: $font-size-h6;
}


// ------- Listes

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: $spacer-y;
}
ol,
ul {
  padding-left: $spacer-y;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: ($spacer-y / 2 );
  margin-left: 0; // Undo browser default
}


// ------- Paragraphes

p {
  margin-top: 0;
  margin-bottom: $spacer-y;
}


// ------- Séparateur horizontal

hr {
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}


// Elements de type inline (ordre alpha)
// ------------------------------------------------

// ------- Liens

a {
  color: $link-color;
  text-decoration: $link-decoration;

  &:focus,
  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus();
  }
}

// ------- Abbréviations

abbr[title] {
  text-decoration: none;
}


// ------- Texte

mark,
.mark {
  padding: .2em;
  background-color: yellow;
}

small,
.small {
  font-size: 80%;
  font-weight: normal;
}


// Citations inline
// ------------------------------------------------
// repris de http://tinytypo.tetue.net/ de @tetue
// tuné avec l'aide de http://www.nicolas-hoffmann.net/utilitaires/codes-hexas-ascii-unicode-utf8-caracteres-usuels.php
// voir http://en.wikipedia.org/wiki/International_variation_in_quotation_marks pour les références

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
:lang(fr) > q {
  quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D" "\2018" "\2019";
}
:lang(en) > q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
:lang(es) > q {
  quotes: "\00AB" "\00BB" "\201C" "\201D";
}
:lang(it) > q {
  quotes: "\00AB\A0" "\A0\00BB" "\201C" "\201D";
}
:lang(de) > q {
  quotes: "\201e" "\201c" "\201a" "\2018";
}
q:before {
  content: open-quote;
}
q:after {
  content: close-quote;
}


// Présentation du code (block et inline)
// ======================================

// common
code,
kbd,
pre,
samp {
  font-family: $font-family-monospace;
}


// Blocks
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 90%;
  line-height: $line-height;
  color: $pre-color;
  background-color: $code-bg;

  code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    border-radius: 0;
  }
}

// Inline
code {
  padding: .2em .4em;
  font-size: 90%;
  color: $code-color;
  background-color: $code-bg;
  @include border-radius($border-radius);
}

kbd {
  padding: .2em .4em;
  font-size: 90%;
  color: $kbd-color;
  background-color: $kbd-bg;
  @include border-radius($border-radius-sm);

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: $nested-kbd-font-weight;
  }
}
